<nz-list nzItemLayout="horizontal">
  <ng-container *ngIf="openedTasks$ | async as openedTasks">
    <nz-list-item *ngFor="let task of openedTasks">
      <nz-list-item-meta
        nzDescription="{{ task.body }}"
      >
        <nz-list-item-meta-title>
          <p>{{ task.title }} &nbsp;
            <ng-container *ngIf="task?.data?.orderId">
              <a routerLink="/orders/all/detail/{{task?.data?.orderId}}" target="_blank">{{ task?.data?.orderNumber ? task?.data?.orderNumber : 'Order' }}</a>
            </ng-container>
          </p>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
    </nz-list-item>
    <nz-list-empty *ngIf="openedTasks.length === 0"></nz-list-empty>
  </ng-container>
</nz-list>
