<div class="ui-popular-view">
  <span class="text-bold">Popular</span>
  <carousel [cellWidth]="330" [height]="250">
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
    <div class="carousel-cell">
      <ui-card-popular></ui-card-popular>
    </div>
  </carousel>
</div>
