@import 'src/scss/colors';
@import 'src/scss/sizes';
@import 'src/scss/typography';
@import 'src/scss/borders';

.option {
  @extend .border-radius-md;
  @extend .cursor-pointer;
  @extend .text-medium;
  @extend .px-3;
  @extend .py-1;
  opacity: 0.4;
  border: 2px solid rgba($color_lightblue, 0.1);

  &:not(:first-child) {
    @extend .ml-3;
  }

  &--selected {
    @extend .bg-green;
    @extend .text-white;
    opacity: 1;
  }
}