<form (ngSubmit)="onSubmit()" nzLayout="vertical" nz-form [formGroup]='form'>
  <app-filter-category-select
    class="w-40 mr-4"
    formControlName="productCategoryCode"
    label="Product Category"
    [isRequired]="true"
    [disabled]="true"
  ></app-filter-category-select>

  <nz-form-item class='pb-4'>
    <nz-form-label nzRequired>Product out of stock time, hours</nz-form-label>
    <nz-form-control labelForErrorTip="Out of stock time, hours">
      <input nz-input type="number" min='0' pattern="\d*" formControlName='productOutOfStockTime' placeholder='input number'>
    </nz-form-control>
  </nz-form-item>
</form>
