<div class="sign-modal" [hidden]="!opened">
  <div class="d-flex h-100p justify-content-center align-items-center">
    <div class="sign-modal-content" [ngClass]="{'small': smallSize}" style="z-index: 9999;">
      <div class="sign-modal-header">
        <span class="ml-1 mb-2 text-semi-bold"></span>
        <span class="close" (click)="onClose.emit($event)">&times;</span>
      </div>
      <div class="sign-modal-body">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="outside" (click)="onClose.emit($event)"></div>
  </div>
</div>