<nz-collapse *ngIf="_hideFilters.size < 4">
  <nz-collapse-panel [nzActive]="expand" nzHeader="Filters">
    <form nz-form [formGroup]="filterForm" class="filter-form" nzLayout="vertical">
      <app-filter-store-select *ngIf="!_hideFilters.has('Store')" formControlName="storeId"></app-filter-store-select>

      <nz-form-item *ngIf="!_hideFilters.has('Status')">
        <nz-form-control>
          <nz-form-label>Order Status</nz-form-label>
          <app-list-select [list]='orderStatuses' formControlName='orderStatus' placeHolder='Order Status' [isRequired]="false"></app-list-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="!_hideFilters.has('Date')">
        <nz-form-control>
          <nz-form-label>Order Delivery Date</nz-form-label>
          <nz-date-picker
            class="w-100p"
            formControlName="deliveryDate"
            placeHolder="Delivery Date"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <div class="row" *ngIf="!_hideFilters.has('Date') && !_hideFilters.has('Time')">
        <nz-form-item class="col">
          <nz-form-control>
            <nz-form-label>Time Start</nz-form-label>
            <nz-time-picker
              class="w-100p"
              formControlName="deliveryTimeStart"
              placeHolder="Delivery Time Start"
              [nzFormat]="timeFormat"
            ></nz-time-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="col">
          <nz-form-control>
            <nz-form-label>Time End</nz-form-label>
            <nz-time-picker
              class="w-100p"
              formControlName="deliveryTimeEnd"
              placeHolder="Delivery Time End"
              [nzFormat]="timeFormat"
            ></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

    </form>
  </nz-collapse-panel>
</nz-collapse>

<nz-select
  class="w-100p"
  nzPlaceHolder="{{placeHolder}}"
  nzShowSearch
  nzServerSearch
  [formControl]="control"
  [nzMode]="type"
  (nzOnSearch)="onSearch($event)"
  (nzOpenChange)="onSelectOpenChange($event)"
  (nzScrollToBottom)="onScrollBottom()"
  [nzLoading]="isLoading$|async"
  [nzDropdownMatchSelectWidth]="false"
  [nzOptionHeightPx]="90"
  [nzDropdownClassName]="'order-select'"
>
  <nz-option *ngFor="let order of optionList" nzCustomContent [nzLabel]="order.orderNumber ?? ''" [nzValue]="order.id">
    <div class="d-flex">
      <div><img alt="Store" src="{{(order.store?.logoUrl ?? '')|imageMiniature}}"></div>
      <div class="ml-2">
        <p class="mb-0"><b>Order Number: </b> <a routerLink="/orders/all/detail/{{order.id}}">{{order.orderNumber}}</a></p>
        <p class="mb-0"><b>Store: </b> <a routerLink="/store/stores/{{order.store?.id}}/basic-information">{{order.store?.name_i18n}}</a></p>
        <p class="mb-0"><b>Delivery Date: </b> {{(order.deliveryDateTimeTo ?? '')|dateLocal :'UTC' :dateFormat}}</p>
        <p class="mb-0"><b>Status: </b> <nz-tag>{{order.orderStatus|titlecase}}</nz-tag></p>
      </div>
    </div>
  </nz-option>
</nz-select>