:host {
  display: block;
  margin: -24px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.static-header {
  max-height: 100%;

  ::ng-deep .ant-tabs-content-holder {
    display: flex;
    position: relative;
  }

  ::ng-deep .ant-tabs-tabpane {
    overflow: hidden;
  }
}

.anchor {
  position: absolute;
  top: 14px;
  right: 28px;
}