<div class="p-4" *ngIf="customer$ | async as customer">
  <a class='d-flex align-items-center mb-4' routerLink='../..'>
    <i nz-icon nzType="left" nzTheme="outline"></i>
    <h3
      class='mb-0'>{{customer?.settings?.firstName}} {{ customer.role === "GUEST" ? '' : customer?.settings?.lastName }}</h3>
  </a>
  <div class="row mr-0">
    <div class="col col-lg-16 pr-0">

      <nz-card class="mb-4 border-round-sm">
        <nz-card-meta [nzTitle]="customerCardTitle" [nzDescription]="customerCardDescription"
                      [nzAvatar]="avatarTemplate"></nz-card-meta>
        <div class='d-flex justify-content-between'>
          <div class='w-100p'>
            <span>Customer note</span>
            <textarea nz-input rows='2' [value]="customer?.note" readonly></textarea>
          </div>
          <a (click)="openPanel = 'note'">Edit</a>
        </div>
      </nz-card>
      <ng-template #customerCardTitle>
        <div class='d-flex justify-content-between'>
          {{customer?.settings?.firstName}} {{ customer.role === "GUEST" ? '' : customer?.settings?.lastName }}
          <a (click)="openPanel = 'info'">Edit</a>
        </div>
      </ng-template>
      <ng-template #customerCardDescription>
        <div>Customer number: {{customer?.settings?.customerNumber}}</div>
        <div>Customer since: {{customer?.create_date|date:dateTimeFormat}}</div>
      </ng-template>
      <ng-template #avatarTemplate>
        <img class='mr-sm-4' width='50' height='50' [src]="'./../../../../../../../assets/img/avatars/userAvatar.svg'"
             alt="User">
      </ng-template>

      <nz-card class="mb-4 border-round-sm">
        <nz-card-meta [nzTitle]="shoppingCategoryBreakdown"></nz-card-meta>
        <ng-template #shoppingCategoryBreakdown>
          <h5>Shopping Category Breakdown</h5>
        </ng-template>
        <div>
          <div style="margin: 0 -24px">
            <app-shopping-category-breakdown [customerId]="customer.id"></app-shopping-category-breakdown>
          </div>
        </div>
      </nz-card>

      <nz-card class="mb-4 border-round-sm">
        <nz-card-meta [nzTitle]="shoppingHistoryTitle"></nz-card-meta>
        <ng-template #shoppingHistoryTitle>
          <h5>Shopping History</h5>
        </ng-template>
        <div class='d-flex justify-content-between'>
          <div class='w-100p scroll-hidden'>
            <app-customer-heat-map [customerId]="customer.id"></app-customer-heat-map>
          </div>
        </div>
      </nz-card>

      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-session-history></app-customer-session-history>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-user-subscription></app-user-subscription>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-order-history (totalCount)="totalCount = $event"></app-customer-order-history>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-rating-app-history></app-customer-rating-app-history>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-shopping-list></app-customer-shopping-list>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-address-crud></app-customer-address-crud>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-loyalty-program-crud></app-customer-loyalty-program-crud>
      </div>

      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-ban-crud (banStateNeedUpdate)="updateBanState()" subTitle="Is Customer banned now: {{ isActive ? 'Yes' : 'No' }}"></app-customer-ban-crud>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-customer-bonus-crud ></app-customer-bonus-crud>
      </div>
      <div class='bg-component mb-4 border-round-sm ant-card-bordered'>
        <app-sms-history-crud [userType]="'customer'"></app-sms-history-crud>
      </div>
      <nz-card class="mb-4 border-round-sm">
        <nz-card-meta nzTitle="Timeline"></nz-card-meta>
        <p>tbd...</p>
      </nz-card>
    </div>
    <div class="col col-lg-8 pr-0">
      <nz-card class="mb-4 border-round-sm">
        <div nz-card-grid [ngStyle]="{ width: '100%' }" [nzHoverable]="false" class="f-4">
          <div class='d-flex justify-content-between mb-4'><h4>Customer Overview</h4> <a
            (click)="openPanel = 'overview'">Edit</a></div>
          <div class="d-flex justify-content-between">
            <p nz-typography nzCopyable [nzCopyText]="customer.email">
              <a [href]="'mailto:' + customer.email">
                <i nz-icon nzType="mail" nzTheme="outline"></i>
                {{customer.email}}
              </a>
              <app-verification-status class="f-3" [isVerified]="customer.isEmailVerified|bool"></app-verification-status>
            </p>
          </div>

          <div [class.color-danger]="!customer?.settings?.phoneNumber">
            <i nz-icon nzType="phone" nzTheme="outline"></i>
            <ng-container *ngIf="customer?.settings?.phoneNumber; else isMissingPhone">
              <p class="d-inline" nz-typography nzCopyable nzCopyText="+{{customer?.settings?.phoneCountryCode}} {{ customer?.settings?.phoneNumber }}">
                +{{customer?.settings?.phoneCountryCode}} {{ customer?.settings?.phoneNumber }}
                <app-verification-status class="f-3" [isVerified]="customer.isPhoneNumberVerified|bool"></app-verification-status>
              </p>
            </ng-container>
            <ng-template #isMissingPhone>
              Phone number is missing
            </ng-template>
          </div>
        </div>
        <div nz-card-grid [ngStyle]="{ width: '100%' }" [nzHoverable]="false">
          <div class='d-flex f-3 mb-2'>Language settings:</div>
          <app-language-select
            [hideLabel]="true"
            placeHolder="Customer Language"
            [formControl]="customerLanguageController"
            [required]="true"
          ></app-language-select>
        </div>
        <div nz-card-grid [ngStyle]="{ width: '100%' }" [nzHoverable]="false">
          <div class='d-flex mb-4 f-3'>Default Address:</div>
          <div class='row'>
            <div class='col'>{{getMainAddressStr(customer?.addresses)}}</div>
          </div>
        </div>
        <div nz-card-grid [ngStyle]="{ width: '100%' }" [nzHoverable]="false">
          <div class='d-flex justify-content-between mb-4 f-3'>Tax settings: <a>Manage</a></div>
          <div class='row'>
            <div class='col'>No exemptions</div>
          </div>
        </div>
        <div *ngIf="customer?.emailCodes?.length" nz-card-grid [ngStyle]="{ width: '100%' }" [nzHoverable]="false">
          <div class='d-flex justify-content-between align-items-center mb-4 f-3'>
            Email Verification Code:
            <h5>{{(customer.emailCodes|sortObjectsByDate :'expires':'':'ASC')[0].code}}</h5>
          </div>
        </div>
      </nz-card>

      <nz-card class="mb-4 border-round-sm" nzTitle="Email Marketing">
        <div class="row">
          <p class="col-12">Newsletter</p>
          <nz-switch class="col-12 text-align-right"></nz-switch>
        </div>
        <div class="row">
          <p class="col-12">Order Confirmation</p>
          <nz-switch class="col-12 text-align-right"></nz-switch>
        </div>
        <div class="row">
          <p class="col-12">Order Product Replacement</p>
          <nz-switch class="col-12 text-align-right"></nz-switch>
        </div>
        <div class="row">
          <p class="col-12">New Product arrivals</p>
          <nz-switch class="col-12 text-align-right"></nz-switch>
        </div>
        <div class="row">
          <p class="col-12">Sales</p>
          <nz-switch class="col-12 text-align-right"></nz-switch>
        </div>
      </nz-card>
      <nz-card class="mb-4 border-round-sm" nzTitle="Notification">
        <div class="row">
          <p class="col-12">New Product arrivals</p>
          <nz-switch
            class="col-12 text-align-right"
            (ngModelChange)="notificationSettingsChange(customer, 'newProductArrivals', $event)"
            [ngModel]="customer?.notificationSettings?.newProductArrivals">
          </nz-switch>
        </div>
        <div class="row">
          <p class="col-12">Sales</p>
          <nz-switch
            class="col-12 text-align-right"
            (ngModelChange)="notificationSettingsChange(customer, 'sales', $event)"
            [ngModel]="customer?.notificationSettings?.sales">
          </nz-switch>
        </div>
        <div class="row">
          <p class="col-12">Delivery status changes</p>
          <nz-switch
            class="col-12 text-align-right"
            (ngModelChange)="notificationSettingsChange(customer, 'deliveryStatusChange', $event)"
            [ngModel]="customer?.notificationSettings?.deliveryStatusChange">
          </nz-switch>
        </div>
      </nz-card>

      <nz-card class="mb-4 border-round-sm" nzTitle="Total Orders" [nzExtra]="detailTotalOrders">
        <ng-template #detailTotalOrders>
          <a>Details</a>
        </ng-template>
        <a>{{totalCount}}</a>
      </nz-card>
      <nz-card class="mb-4 border-round-sm" nzTitle="Total Revenue" [nzExtra]="detailTotalRevenue">
        <ng-template #detailTotalRevenue>
          <a>Details</a>
        </ng-template>
        <a>{{totalIncome$ | async}} EUR</a>
      </nz-card>
      <nz-card class="mb-4 border-round-sm" nzTitle="Revenue Shop Breakdown">
        <app-revenue-shop-breakdown [customerId]="customer.id"></app-revenue-shop-breakdown>
      </nz-card>

      <nz-card class="mb-4 border-round-sm" nzTitle="Tags" [nzExtra]="action" [formGroup]="form">
        <nz-form-item>
          <nz-form-label nzNoColon nzFor="customerTags">Customer tags</nz-form-label>
          <nz-form-control>
            <nz-select nzMode="tags" formControlName='customerTags' nzPlaceHolder='Tags'>
              <nz-option *ngFor="let tag of form.get('customerTags')?.value||[]" [nzLabel]="tag"
                         [nzValue]="tag"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <ng-template #action>
          <button nz-button nzType="primary" nzShape="round" (click)="onSaveTags()">Save Tags</button>
        </ng-template>
      </nz-card>

      <nz-card class="mb-4 border-round-sm" nzTitle="Customer privacy">
        <div nz-card-grid [ngStyle]="{ width: '100%' }" [nzHoverable]="false">
          <div class="mb-4 f-3 text-bold">Reset password</div>
          <p class="f-4">Forgot Password? <br> We will send you instructions to reset your password.</p>
          <button nz-button class="bg-button2" nzShape="round" nzType="primary" (click)="onShowResetPasswordModal()">Reset password</button>
          <nz-modal
            *ngIf="customer.email as email"
            [(nzVisible)]="customerResetPasswordModal"
            nzTitle="Reset password"
            (nzOnCancel)="onHideResetPasswordModal()"
            (nzOnOk)="onCustomerResetPassword(email)"
          >
            <ng-container *nzModalContent>
              <p>Do you want to send a password recovery message to the customer?</p>
            </ng-container>
          </nz-modal>
        </div>

        <div nz-card-grid [ngStyle]="{ width: '100%' }" [nzHoverable]="false">
          <div class="mb-4 f-3 text-bold">Erase personal data</div>
          <p class="f-4">Remove this customer’s personal information from your store. <a>Learn about the process of erasure requests.</a></p>
          <button
            nz-button
            class="bg-button2"
            nzShape="round"
            nzType="primary"
            (click)="onShowErasePersonalDataModal()"
            [disabled]="!!customer?.deleted_date"
          >Erase personal data</button>
          <nz-modal [nzVisible]="customerErasePersonalDataModal" nzTitle="Erase data" (nzOnCancel)="onHideErasePersonalDataModal()" (nzOnOk)="onCustomerEraseData(customer.id)">
            <ng-container *nzModalContent>
              <p>Do you want to erase personal data for {{customer?.settings?.firstName}} {{customer.role ==='CUSTOMER' ? customer?.settings?.lastName:''}} ?</p>
            </ng-container>
          </nz-modal>
        </div>
      </nz-card>
    </div>
  </div>
  <button nz-button nzDanger nzType='primary' (click)='isDeleteModalVisible = true'>Delete customer</button>

  <nz-drawer
    [nzClosable]="true"
    [nzWidth]="700"
    [nzVisible]="openPanel === 'overview'"
    nzPlacement="right"
    nzTitle="Edit contact info"
    [nzFooter]="overview"
    (nzOnClose)="onCloseDrawer()"
  >
    <ng-template nzDrawerContent>
      <app-customer-overview [customerInfo]='customer' [submit]='submitEvent'
                             (updatePage)='updateCustomer.next(true)'></app-customer-overview>
    </ng-template>
  </nz-drawer>

  <ng-template #overview>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <button nzBlock nz-button nzType="primary" (click)="onSubmit()">Apply</button>
        </div>
        <div class="col-12">
          <button nzBlock nz-button nzType="link" (click)="onCloseDrawer()">Cancel</button>
        </div>
      </div>
    </div>
  </ng-template>


  <nz-drawer
    [nzClosable]="true"
    [nzWidth]="700"
    [nzVisible]="openPanel === 'info'"
    nzPlacement="right"
    nzTitle="Edit customer info"
    [nzFooter]="customerInfo"
    (nzOnClose)="onCloseDrawer()"
  >
    <ng-template nzDrawerContent>
      <app-customer-info [customerInfo]='customer' [submit]='submitEvent'
                         (updatePage)='updateCustomer.next(true)'></app-customer-info>
    </ng-template>
  </nz-drawer>

  <ng-template #customerInfo>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <button nzBlock nz-button nzType="primary" (click)="onSubmit()">Apply</button>
        </div>
        <div class="col-12">
          <button nzBlock nz-button nzType="link" (click)="onCloseDrawer()">Cancel</button>
        </div>
      </div>
    </div>
  </ng-template>

  <nz-modal
    [(nzVisible)]="isDeleteModalVisible"
    nzTitle="Are you sure you want to delete this customer?"
    (nzOnCancel)="onCancelDelete()"
    (nzOnOk)="onOkDelete()"
    [nzOkDanger]="true"
    nzOkText="Delete"
  >
    <h5 *nzModalContent><span>Delete {{customer?.settings?.firstName}} {{customer?.settings?.lastName}} ?</span></h5>
  </nz-modal>

  <nz-drawer
    [nzClosable]="true"
    [nzWidth]="700"
    [nzVisible]="openPanel === 'note'"
    nzPlacement="right"
    nzTitle="Edit customer note"
    [nzFooter]="customerNote"
    (nzOnClose)="onCloseDrawer()"
  >
    <ng-template nzDrawerContent>
      <app-customer-note [customerInfo]='customer' [submit]='submitEvent'
                         (updatePage)='updateCustomer.next(true)'></app-customer-note>
    </ng-template>
  </nz-drawer>
  <ng-template #customerNote>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <button nzBlock nz-button nzType="primary" (click)="onSubmit()">Apply</button>
        </div>
        <div class="col-12">
          <button nzBlock nz-button nzType="link" (click)="onCloseDrawer()">Cancel</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
