<form nzLayout="inline" nz-form [formGroup]='form'>
  <nz-form-item class="w-40">
    <nz-form-control>
      <nz-form-label>Search</nz-form-label>
      <nz-input-group nzPrefixIcon="search">
        <input nz-input formControlName="search" placeholder="Search"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <app-filter-category-select
    class="w-40 mr-4"
    formControlName="category"
  ></app-filter-category-select>

  <app-filter-subcategory-select
    class="w-40 mr-4"
    formControlName="subCategory"
    [categoryCode]="form.controls.category.value"
  ></app-filter-subcategory-select>

  <nz-form-item class="w-40">
    <nz-form-control>
      <nz-form-label>Brand filter</nz-form-label>
      <app-select
        placeHolder='Brand'
        [options]='brandSelect'
        formControlName='brand'
      ></app-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="w-40 mr-4">
    <nz-form-control>
      <label class='ml-0 mt-9' nz-checkbox formControlName='includeExpired'>Include expired</label>
    </nz-form-control>
  </nz-form-item>
</form>
