@import "src/scss/colors";
@import "src/scss/sizes";
@import "src/scss/typography";
@import "src/scss/borders";
.content {
  @extend .d-flex;
  @extend .flex-column;
  @extend .w-56p;
  @extend .px-8;
  @extend .py-4;
  @media (max-width: map-get($grid-breakpoints, "md")) {
    width: 100%;
  }
}

.border {
  border-bottom: 1px solid rgba($color_beige, 0.2);
}

.success {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .my-5;
  // display: none;
  &--show {
    display: block;
    animation: fadein 1s, fadeout 0.5s 2.5s;
  }
}

@keyframes fadein {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 50px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    height: 50px;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.confirm-password {
  @extend .position-relative;
  border-bottom: 1px solid $color_lightblue;

  &--error {
    border-bottom: 1px solid $color-red;

    input,
    icon {
      @extend .text-red;
    }
  }

  &:focus-within {
    border-bottom: 1px solid $color_green;
  }

  input {
    @extend .w-100p;
    @extend .border-0;
    @extend .bg-transparent;
    @extend .text-medium;
    @extend .h-14;
    @extend .pr-8;
    @extend .p-0;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .text-darkgrey;
    line-height: 32px;
    outline: none;
  }

  icon {
    @extend .position-absolute;
    @extend .cursor-pointer;
    right: 0;
    bottom: 20px;
  }
}

#loading {
  position: absolute;
  left: 7%;
  bottom: 7px;
  z-index: 1;
  margin: auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 46px;
  height: 46px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.confirm_btn_mobile {
  @extend .d-flex;
  @extend .flex-column;
  @media (min-width: map-get($grid-breakpoints, "md")) {
    display: none;
  }
}

.confirm_btn_desktop {
  @extend .d-flex;
  @extend .flex-column;
  @media (max-width: map-get($grid-breakpoints, "md")) {
    display: none;
  }
}
