<ui-settings>
  <div class="px-8 py-4">
    <span class="f-8 text-bold">Change Password</span>
  </div>
  <div class="border"></div>
  <div class="content">
    <div *ngIf="notify" class="success">
      <span class="text-medium">Password successfully changed</span>
      <icon name="check" class="text-green ml-5"></icon>
    </div>
    <!-- <div #notification class="success">
      <span class="text-medium">Password successfully changed</span>
      <icon name="check" class="text-green ml-5"></icon>
    </div> -->
    <div *ngIf="!notify">
      <ui-input label="Old password" type="password" [value]="oldPwd" [error]="error_oldPwd"
        (valueChange)="oldPwd=$event" (keyup)="onEnter($event)">
      </ui-input>
      <div class="confirm-password mt-3" [ngClass]="{'confirm-password--error': error_confirmPwd}">
        <icon *ngIf="!showNewPwd" name="eye-on" (click)="toggleOnNewPwd()"></icon>
        <icon *ngIf="showNewPwd" name="eye-off" (click)="toggleOnNewPwd()"></icon>
        <input [type]="newPwdType" [value]="newPwd" placeholder="Create new password" (keyup)="onSetpassword($event)" />
      </div>
      <span class="text-medium text-bold" *ngIf=(strengthBadge) [ngClass]="strengthBadgeStyle">{{strengthBadge}}</span>
      <div class="confirm-password mt-3" [ngClass]="{'confirm-password--error': error_confirmPwd}">
        <icon *ngIf="!showConfirmPwd" name="eye-on" (click)="toggleOnConfirmPwd()"></icon>
        <icon *ngIf="showConfirmPwd" name="eye-off" (click)="toggleOnConfirmPwd()"></icon>
        <input [type]="confirmPwdType" [value]="confirmPwd" placeholder="Confirm new password"
          (keyup)="onChangeConfirmPwd($event)" />
      </div>
      <div *ngIf="error_confirmPwd" class="d-flex align-items-center text-red text-medium mt-2">
        <icon name="warn" class="mr-1"></icon>
        <span class="text-bold mx-1">Error</span>
        <span>Password doesn't match!</span>
      </div>
      <div class="confirm_btn_desktop">
        <ui-button *ngIf="!loading" size="lg" radius="lg" class="mt-8" (onClick)="onConfirmClick()">Confirm</ui-button>
        <ui-button *ngIf="loading" size="lg" radius="lg" class="mt-8 position-relative" (onClick)="onConfirmClick()">
          <span style="color: transparent;">Confirm</span>
          <span id="loading"></span>
        </ui-button>
      </div>
      <div class="confirm_btn_mobile">
        <ui-button *ngIf="!loading" size="lg" radius="lg" class="mt-8" width="full" (onClick)="onConfirmClick()">Confirm
        </ui-button>
        <ui-button *ngIf="loading" size="lg" radius="lg" class="mt-8 position-relative" width="full"
          (onClick)="onConfirmClick()">
          <span style="color: transparent;">Confirm</span>
          <span id="loading"></span>
        </ui-button>
      </div>
    </div>
  </div>
</ui-settings>