<nz-drawer
  [nzClosable]="true"
  [nzWidth]="800"
  [nzVisible]="openPanel"
  nzPlacement="right"
  nzTitle="Select customer address"
  [nzFooter]="carouselFooter"
  (nzOnClose)='onCloseDrawer()'
>
  <ng-template nzDrawerContent>
    <form nz-form nzLayout='vertical' [formGroup]='form'>
      <nz-select
        class="w-100p"
        nzPlaceHolder="tags"
        nzMode="tags"
        [nzDropdownStyle]="{ display: 'none' }"
        formControlName="tags"
      ></nz-select>
    </form>
  </ng-template>
</nz-drawer>

<ng-template #carouselFooter>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button nzBlock nz-button nzType="primary" (click)='onSubmit()'>Apply</button>
      </div>
      <div class="col-12">
        <button nzBlock nz-button nzType="link" (click)='onCloseDrawer()'>Cancel</button>
      </div>
    </div>
  </div>
</ng-template>
