$color_green: #2CC84D;
$color_darkgreen: #275029;
$color_beige: #E2D3C5;
$color_blue: #244875;
$color_primary_blue: #244875;
$color_lightblue: #677798;
$color_lightgray: #f0f0f0;
$color_darkgrey: #2B2D3A;
$color_white: #ffffff;
$color_red: #FF103B;
$color_orange: #FA7C34;
$color_vanilla: #F9F6F3;
$color_darkvanilla: #e2d3c5;
$color_black: #000000;
