.border-radius-sm {
  border-radius: 4px;
}

.border-radius-md {
  border-radius: 8px;
}

.border-radius-lg {
  border-radius: 12px;
}

.border-radius-xlg {
  border-radius: 16px;
}

.border-radius-bt {
  border-radius: 0 8px;
}

.border-radius-tb {
  border-radius: 8px 0;
}

.border-0 {
  border: 0;
}

.border-radius-left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.border-radius-sidebar {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}