body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  background-color: white;
  min-width: 300px;
}

* {
  box-sizing: border-box;
}
