@import 'src/scss/colors';
@import 'src/scss/sizes';
@import 'src/scss/typography';
@import 'src/scss/borders';
@import 'src/scss/shadows';
.border {
  border: 1px solid rgba($color_beige, 0.2);
}

.order {
  @extend .d-flex;
  @extend .px-8;
  @extend .justify-content-between;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    flex-direction: column;
  }

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    padding-left: 16px;
    padding-right: 16px;
  }

  &-list {
    @extend .d-flex;
    @extend .flex-column;
    @extend .w-48p;
    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      width: 100%;
    }

    &--hidden {
      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        display: none;
      }
    }
  }

  &-content {
    @extend .w-48p;
    @extend .border-radius-lg;
    padding: 32px 0px 32px 26px;

    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      width: 100%;
    }
    
    @media (min-width: map-get($grid-breakpoints, 'sm')) {
      display: table;
    }

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      padding: 0px 10px 32px 10px;
    }

    .products {
      @extend .d-flex;
      @extend .justify-content-between;
      @extend .flex-wrap;

      @media (max-width: map-get($grid-breakpoints, 'md')) {
        justify-content: center;
      }
    }
  }
}