<form (ngSubmit)="onSubmit()" nzLayout="vertical" nz-form [formGroup]='form'>

  <div class="row">
    <nz-form-item class="col">
      <nz-form-label nzRequired>Start date</nz-form-label>
      <nz-form-control labelForErrorTip="Start date">
        <app-date-control
          formControlName="dateStart"
          placeHolder="Date start"
        ></app-date-control>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="col pl-0">
      <nz-form-label nzRequired>End date</nz-form-label>
      <nz-form-control labelForErrorTip="End date">
        <app-date-control
          formControlName="dateEnd"
          placeHolder="Date end"
          [disableBefore]="form.controls.dateStart.value"
        ></app-date-control>
      </nz-form-control>

    </nz-form-item>
  </div>

  <nz-form-item>
    <nz-form-label>Comment</nz-form-label>
    <nz-form-control labelForErrorTip="Comment">
      <input nz-input type='text' formControlName='note' placeholder='Add comment'>
    </nz-form-control>

  </nz-form-item>
</form>
