<form (ngSubmit)="onSubmit()" nzLayout="vertical" nz-form [formGroup]='form'>
  <nz-form-item>
    <nz-form-label nzNoColon nzFor="code">Code</nz-form-label>
    <nz-form-control labelForErrorTip="Code">
      <input formControlName='code' appCodeInput nz-input name="code" placeholder="Code">
    </nz-form-control>
  </nz-form-item>
  <app-lang-controller>
    <app-multi-lang-v2-input required label="Name" formControlName="name_i18n"></app-multi-lang-v2-input>
    <app-multi-lang-v2-input label="Description" type="textarea" formControlName="description_i18n"></app-multi-lang-v2-input>
  </app-lang-controller>
  <nz-form-item>
    <nz-form-label nzNoColon nzFor="status">Status</nz-form-label>
    <app-status-switch formControlName='isActive'></app-status-switch>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control labelForErrorTip="VAT value in percent">
      <nz-form-label>VAT value in percent</nz-form-label>
      <nz-input-number class='w-100p' nzPlaceHolder='VAT value' formControlName="value" [nzMin]="0"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
</form>
