<div class="d-flex flex-column justify-content-between align-items-center">
  <div class="f-6 text-bold">Set new password</div>
  <div class="text-normal text-align-center mt-3 text-bold"> {{ myEmail }} </div>
  <div class="cursor-pointer" (click)="onResend()">
    <icon name="repeat" class="text-green mr-2"></icon><span class="text-tiny text-green text-bold">resend email</span>
  </div>
  <span class="align-self-start text-tiny text-bold mt-5">Enter your password</span>
  <ui-input
    [leftIcon]="false"
    icon="lock"
    type="password"
    [error]="error_pwd"
    [value]="pwd"
    (valueChange)="pwd=$event"
    placeholder="Enter your password"
    (keyup)="onEnter($event)"
    class="w-100p"></ui-input>
    <div class="mt-8">
      <span class="text-medium text-align-center text-semi-bold mt-3 mb-3"> Didn't receive your email?</span>
      <a href=""><span class="text-medium text-align-center text-green text-semi-bold ml-2">See our help</span></a>
    </div>             
  <ui-button *ngIf="!loading" width="full" size="lg" radius="lg" class="w-100p mt-5" (onClick)="onConfirm($event)">Confirm</ui-button>
  <ui-button *ngIf="loading"  width="full" size="lg" radius="lg" class="w-100p mt-5 position-relative">
    <span id="loading"></span>
  </ui-button>
</div>