#summary{
  border: 1px solid #D9D9D9;
  div{
    padding-left: 16px;
  }
  div + div {
    border-top: 1px solid #D9D9D9;
  }
  div>span:nth-child(2) {
    width: 50%;
  }
}

.summary {
  margin-right: -16px;
  margin-left: -16px;
  display: grid;
  position: relative;
  grid-gap: 16px;

  @media screen and (min-width: 1350px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 1350px) {
    grid-column: 1;
    grid-template-rows: auto 1fr;
  }
}