@import 'src/scss/colors';
@import 'src/scss/borders';
@import 'src/scss/sizes';
@import 'src/scss/typography';
@import '../button/button.component.scss';
.ui-card {
  @extend .w-56;
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .position-relative;
  @extend .mb-10;
  @extend .mr-1;
  
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    width: 300px;
    margin-top: -25px;
    margin-left: 30px;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--disabled {
    opacity: 0.5;
  }
  
  &__img {
    @extend .w-44;
    @extend .mt-6;
    @extend .position-relative;
    @extend .cursor-pointer;
   
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      margin-left: -30px;
      width: initial;
      margin-top: 0;
    }

    .product-img {
      min-width: 160px;
      min-height: 200px;
      max-width: 160px;
      max-height: 200px;
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        min-width: 130px;
        min-height: 180px;
        max-width: 130px;
        max-height: 180px;
      }
    }

    &--badge {
      @extend .text-white;
      @extend .border-radius-bt;
      @extend .text-tiny;
      @extend .py-1;
      @extend .px-2;
      @extend .position-absolute;
      bottom: 15px;
      left: 4px;
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        bottom: 10px;
        margin-left: 5px;
      }
    }
  }

  &__body {
    @extend .w-100p;
    @extend .d-flex;
    @extend .flex-column;
    @extend .position-relative;
    
    @media (min-width: map-get($grid-breakpoints, 'md')) {
      margin-left: 25px;
      margin-right: 10px;
    }

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      margin-left: 18px;
    }

    &--bottom {
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .price {
        @extend .text-bold;
        @extend .py-3;
        @extend .position-absolute;
        top: 92px;
        @media (max-width: map-get($grid-breakpoints, 'md')) {
          top: 15px;
        }
      }
    }

    .amount {
      @extend .text-lightblue;
      @extend .text-tiny;
      @extend .text-tiny-bold;
      @extend .position-absolute;
      top: 88px;
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        top: 10px;
      }
    }

    .name {
      @extend .text-bold;
      @extend .position-absolute;
      top: 15px;
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        top: -68px;
      }
    }

    .category {
      @extend .text-bold;
      @extend .text-blue;
      @extend .text-tiny;
      @extend .position-absolute;
      top: -2px;

      @media (max-width: map-get($grid-breakpoints, 'md')) {
        top: -86px;
      }
    }

    .cart {
      @media (min-width: map-get($grid-breakpoints, 'md')) {
        position: absolute;
        width: 100%;
        top: 147px;
        left: 0px;
        margin-left: -7px;
        width: 228px;
      }
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        position: absolute;
        width: 100%;
        top: 54px;
      }
    }
  }

  &__bookmark {
    @extend .position-absolute;
    @extend .cursor-pointer;
    right: 8px;

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      margin-right: -9px;
      top: -5px;
    }
  }
  
  .image_size {
    width: 170px; 
    height: 170px;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      width: 130px;
      height: 130px;
    }
  }
}