<form (ngSubmit)="onSubmit()" nzLayout="vertical" nz-form [formGroup]='form'>
  <app-lang-controller>
    <app-multi-lang-v2-input required label="Name" formControlName="name_i18n"></app-multi-lang-v2-input>
    <app-multi-lang-v2-input label="Description" type="textarea" formControlName="description_i18n"></app-multi-lang-v2-input>
  </app-lang-controller>
  <nz-form-item>
    <nz-form-label nzNoColon nzFor="isActive">Status</nz-form-label>
    <nz-form-control labelForErrorTip="Status">
      <app-status-switch
        formControlName='isActive'
      ></app-status-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzNoColon nzFor="code">Code</nz-form-label>
    <nz-form-control labelForErrorTip="Code">
      <app-list-select
        [list]='languageCodeList'
        placeHolder='Language code'
        formControlName='code'
      ></app-list-select>
    </nz-form-control>
  </nz-form-item>
</form>
