/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.text-center {
  text-align: center;
}
.auth-card{
  border-radius: 16px;
  padding: 0;
}
.reset-password-card{
  border-radius: 16px;
  padding: 16px;
  background: white;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$grid-columns:                24 !default;
$grid-gutter-width:           32px !default;
$grid-row-columns:            12 !default;

@import "./scss/mixins";
@import "./scss/grid";
@import "./scss/sizes";
@import "./scss/borders";
@import "./scss/shadows";
@import "./scss/colors";
@import "./scss/typography";
@import "./scss/content";
@import "./scss/forms";
@import "./scss/icons";
