<form nz-form [formGroup]="form" class="filter-form container-fluid bg-component px-4 pb-4">
  <div class="row">
    <nz-form-item class="col search">
      <nz-form-control>
        <nz-form-label>Search</nz-form-label>
        <nz-input-group [nzPrefixIcon]="'search'">
          <input nz-input formControlName="search" placeholder="Search"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div class="d-flex dates">
      <nz-form-item class="w-32 mr-0">
        <nz-form-control labelForErrorTip="Start date">
          <nz-form-label>Start date</nz-form-label>
          <app-date-control
            formControlName="dateStart"
            placeHolder="Date start"
          ></app-date-control>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="w-32">
        <nz-form-control labelForErrorTip="End date">
          <nz-form-label>End date</nz-form-label>
          <app-date-control
            formControlName="dateEnd"
            placeHolder="Date end"
            [disableBefore]="form.controls.dateStart.value"
          ></app-date-control>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item class="col">
      <nz-form-control labelForErrorTip="Price type">
        <nz-form-label>Price type</nz-form-label>
        <app-list-select [list]='pricingTypeList' formControlName='type' placeHolder='Price type'></app-list-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="col">
      <nz-form-control>
        <nz-form-label>Category filter</nz-form-label>
        <app-select
          placeHolder='Category'
          [options]='categorySelect'
          formControlName='category'
        ></app-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="col">
      <nz-form-control>
        <nz-form-label>Subcategory</nz-form-label>
        <app-select
          placeHolder='Subcategory'
          [options]='subCategorySelect'
          formControlName='subCategory'
        ></app-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
