<div class="ui-recently-view">
  <span class="text-bold">Recently Viewed</span>
  <carousel>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently productType="new"></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently productType="sale"></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
    <div class="carousel-cell">
      <ui-card-recently></ui-card-recently>
    </div>
  </carousel>
</div>
