<nz-list
  nzBordered
  [nzHeader]="header"
  cdkDropList (cdkDropListDropped)="onDrop()"
  [cdkDropListSortPredicate]="onSortPredicate"
>
  <nz-list-item
    *ngFor="let item of formGroups; let index = index"
    cdkDrag
    (cdkDragStarted)="onStartDrag(index)"
    [cdkDragDisabled]="!(item.get('order')?.value|bool)"
  >
    <nz-list-item-meta [nzDescription]="meta_description"></nz-list-item-meta>
    <ng-template #meta_description>
      <div>
        <ng-container *ngIf="setOfEditedIds.has(index); else edit">
          <div class="d-flex justify-content-between mb-4">
            <h5>Edited</h5>
            <button
              nz-button
              nzType="link"
              nzSize="small"
              (click)="onCloseItem(index)"
            ><i nz-icon nzType="close" nzTheme="outline"></i> Close</button>
          </div>
          <form nzLayout="vertical" nz-form [formGroup]='item'>
            <app-lang-controller>
              <app-multi-lang-v2-input  type='text' required formControlName='name_i18n' label="Name"></app-multi-lang-v2-input>
              <app-multi-lang-v2-input type='textarea' formControlName='description_i18n' label="Description"></app-multi-lang-v2-input>
            </app-lang-controller>

            <nz-form-item>
              <nz-form-label nzRequired>Code</nz-form-label>
              <nz-form-control labelForErrorTip="Code">
                <input nz-input appCodeInput formControlName="code" placeholder="Code"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzNoColon nzFor="isActive">Status</nz-form-label>
              <nz-form-control labelForErrorTip="Status">
                <app-status-switch
                  formControlName='isActive'
                ></app-status-switch>
              </nz-form-control>
            </nz-form-item>
          </form>
        </ng-container>
        <ng-template #edit>
          <div class="d-flex justify-content-between">
            <h5 *ngIf="item.get('name_i18n')?.value as name_i18n">
              {{name_i18n|getFieldFromObject :selectedLang.value}}
              <i *ngIf="(item.get('order')?.value|bool)" nz-icon nzType="drag" nzTheme="outline"></i>
            </h5>
            <div>
              <button
                nz-button
                nzType="link"
                nzSize="small"
                (click)="onEditItem(index)"
              ><i nz-icon nzType="edit" nzTheme="outline"></i></button>
              <button
                *ngIf="isUpdateForm && item.get('deleted_date')?.value"
                nz-tooltip="Recover"
                nz-button
                nzType="link"
                nzSize="small"
                (click)="onRecover(index)"
              ><i nz-icon nzType="undo" nzTheme="outline"></i></button>
              <button
                nz-button
                nzType="link"
                nzSize="small"
                nzDanger
                (click)="onDeleteItem(index)"
              ><i nz-icon nzType="delete" nzTheme="outline"></i></button>
            </div>
          </div>
          <div class="ml-4" *ngIf="item.get('description_i18n')?.value as description_i18n">
            {{description_i18n|getFieldFromObject :selectedLang.value}}
          </div>
        </ng-template>
      </div>
    </ng-template>
  </nz-list-item>
  <ng-template #header>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4 class="d-inline mr-2">Subparagraphs</h4>
        <i
          *ngIf="isUpdateForm"
          class="mr-2"
          nz-icon
          nzType="info-circle"
          nzTheme="outline"
          nz-tooltip='You can sort only the already saved sub-items. If you want to sort new sub-items, click the "update" button and reopen the editing panel.'
        ></i>
        <nz-select [formControl]="selectedLang" nzSize="small">
          <nz-option *ngFor="let lang of languages" [nzValue]="lang" [nzLabel]="lang"></nz-option>
        </nz-select>
        <label
          *ngIf="isUpdateForm"
          nz-checkbox
          class="ml-2"
          [nzChecked]="isShowDeleted"
          (nzCheckedChange)="onIsShowDeleted($event)"
        >Show Deleted</label>
      </div>
      <button
        nz-button
        [nzType]="'primary'"
        [nzSize]="'small'"
        (click)="onShowModal()"
      >Add</button>
    </div>
  </ng-template>
</nz-list>

<nz-modal
  nzTitle="Create Subparagraph"
  [nzVisible]="showModal"
  (nzOnCancel)="onCloseModal()"
  (nzOnOk)="onCreateItem()"
>
  <ng-container *nzModalContent>
    <form nzLayout="vertical" nz-form [formGroup]='modalForm'>
      <app-lang-controller>
        <app-multi-lang-v2-input type='text' required formControlName='name_i18n' label="Name"></app-multi-lang-v2-input>
        <app-multi-lang-v2-input type='textarea' formControlName='description_i18n' label="Description"></app-multi-lang-v2-input>
      </app-lang-controller>

      <nz-form-item>
        <nz-form-label nzRequired>Code</nz-form-label>
        <nz-form-control labelForErrorTip="Code">
          <input nz-input appCodeInput formControlName="code" placeholder="Code"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzNoColon nzFor="isActive">Status</nz-form-label>
        <nz-form-control labelForErrorTip="Status">
          <app-status-switch
            formControlName='isActive'
          ></app-status-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>