<div class="h-100p w-100p d-flex flex-column justify-content-center align-items-center bg-component">
  <span class="errorCode">404</span>
  <div>
    <p>Oops! Something's missing...</p>
    <p>This It seems like we donut what you searched. The page you were looking for doesn't exist, isn't available or was loading incorrectly.</p>
    <button
      nz-button
      nzType="primary"
      nzShape="round"
      (click)="goToDash()"
    >
      Back to home
      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
    </button>
  </div>
</div>
