<h1 class="mb-8">Examples dashboard</h1>
<div class="ml-8">
  <h3 class="mb-3">Components</h3>
  <div class="ml-4">
    <a href="example/components/icons" >Icons</a><br>
    <a href="example/components/buttons">Buttons</a><br>
    <a href="example/components/forms">Forms</a><br>
    <a href="example/components/cards">Cards</a><br>
    <a href="example/components/others">Others</a>
  </div>
  <h3 class="my-3">Pages</h3>
  <div class="ml-4">
    <a href="landing">Landing</a><br>
    <a href="login">Login</a><br>
    <a href="products" >Store Product Categories</a><br>
    <a href="settings" >Settings</a><br>
  </div>
</div>
