<form (ngSubmit)="onSubmit()" nzLayout="vertical" nz-form [formGroup]='form'>
  <nz-form-item>
    <nz-form-label nzNoColon nzFor="isOutOfStock">Is Out Of Stock</nz-form-label>
    <nz-form-control labelForErrorTip="Is Out Of Stock">
      <app-status-switch
        formControlName='isOutOfStock'
      ></app-status-switch>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzNoColon nzFor="startDateTime">Start date</nz-form-label>
    <nz-form-control labelForErrorTip="Start date">
      <nz-date-picker [nzShowTime]="true" formControlName='startDateTime'></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!!form.get('isOutOfStock')?.value">
    <nz-form-label nzNoColon nzFor="endDateTime">End date</nz-form-label>
    <nz-form-control labelForErrorTip="End date">
      <nz-date-picker [nzShowTime]="true" formControlName='endDateTime'></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Comment</nz-form-label>
    <nz-form-control labelForErrorTip="Comment">
      <input nz-input type='text' formControlName='comment' placeholder='Add comment'>
    </nz-form-control>
  </nz-form-item>
</form>
