<ui-settings>
  <div class="px-8 py-4">
    <span class="f-8 text-bold">Contact us</span>
  </div>
  <div class="border"></div>
  <div class="px-8 mt-6">
    <div>
      <div class="text-bold text-medium">Telefonisch an</div>
      <div class="d-flex align-items-center">
        <icon name="phone"></icon>
        <a href="tel:+49-40-66858700"><span class="text-green f-6 text-bold ml-4 cursor-pointer">+49-40-66858700</span></a>
      </div>
    </div>
    <div class="my-5">
      <div class="text-bold text-medium">E-Mail</div>
      <div class="d-flex align-items-center">
        <icon name="mail"></icon>
        <a href="mailto:support@bringoo.de"><span class="text-green f-6 text-bold ml-4 cursor-pointer">support@bringoo.de</span></a>
      </div>
    </div>
    <div>
      <div class="text-bold text-medium">Website</div>
      <div class="d-flex align-items-center">
        <icon name="link"></icon>
        <a href="https://bringoo.de/"><span class="text-green f-6 text-bold ml-4 cursor-pointer">bringoo.de</span></a>
      </div>
    </div>
  </div>
</ui-settings>