<nz-drawer
  [nzClosable]="true"
  [nzWidth]="'90%'"
  [nzVisible]="openPanel|async|bool"
  nzPlacement="right"
  nzTitle="Create Route"
  [nzFooter]="footer"
  (nzOnClose)='onCloseDrawer()'
>
  <ng-template nzDrawerContent>
    <form nzLayout="vertical" nz-form [formGroup]='form'>
      <nz-form-item>
        <nz-form-label nzNoColon nzFor="routeName">Name for the route</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" placeholder="Route Name">
        </nz-form-control>
      </nz-form-item>

      <app-filter-staff-select
        [staffRoles]="staffRoles"
        [required]="true"
        formControlName="driverAssignedId"
      ></app-filter-staff-select>

      <nz-form-item>
        <nz-form-label nzNoColon nzFor="provideComment">Provide comment</nz-form-label>
        <nz-form-control>
          <textarea nz-input rows='3' formControlName='provideComment' placeholder="Provide Comment"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Code</nz-form-label>
        <nz-form-control labelForErrorTip="Code">
          <input nz-input appCodeInput formControlName="code" placeholder="Route Code"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="isActive">Status</nz-form-label>
        <nz-form-control labelForErrorTip="Status">
          <app-status-switch formControlName='isActive'></app-status-switch>
        </nz-form-control>
      </nz-form-item>

      <div class="row w-100p mx-0">
        <nz-form-item class="col mb-0 px-0">
          <nz-form-control labelForErrorTip="Start date time:">
            <nz-form-label nzRequired>Start date time:</nz-form-label>
            <app-date-control
              [dateFormat]="dateTimeFormat"
              formControlName="dateTimeStart"
              placeHolder="Date start"
              [showTime]="true"
            ></app-date-control>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="col pr-0">
          <nz-form-control labelForErrorTip="End date time:">
            <nz-form-label nzRequired>End date time:</nz-form-label>
            <app-date-control
              [dateFormat]="dateTimeFormat"
              formControlName="dateTimeEnd"
              placeHolder="Date end"
              [showTime]="true"
              [disableBefore]="form.controls.dateTimeStart.value"
            ></app-date-control>
          </nz-form-control>
        </nz-form-item>
      </div>
      <p>Orders:</p>
      <nz-list class="demo-loadmore-list" [nzLoading]="isLoading$|async">
        <nz-list-item *ngFor="let order of orders">
          <nz-list-item-meta
            [nzAvatar]="order?.store?.logoUrl ?? ''"
          >
            <nz-list-item-meta-title>
              <a routerLink="/orders/all/detail/{{order.id}}" target="_blank">{{ order.orderNumber }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <div class="d-flex">
                <h5 class="pr-4">Store:</h5>
                <p class="mb-1">{{order?.store?.name_i18n}}</p>
              </div>
              <div class="d-flex">
                <h5 class="pr-4">Status:</h5>
                <p class="mb-1">{{order?.orderStatus}}</p>
              </div>
              <div class="d-flex" *ngIf="order.keyPoint as keyPoint">
                <h5 class="pr-4">Route:</h5>
                <p class="mb-1">{{keyPoint.route.name}} ({{keyPoint.route.code}})</p>
              </div>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <app-status-switch
                class="w-32"
                [formControl]="getSwitchControl(order.id)"
                trueValue="Add"
                falseValue="Remove"
              ></app-status-switch>
            </nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
      <div *ngIf="ordersError" class="color-danger">{{ordersError}}</div>
    </form>
  </ng-template>
</nz-drawer>

<ng-template #footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button (click)="onCloseDrawer()" nzBlock nz-button nzType="link">Cancel</button>
      </div>
      <div class="col-12">
        <button [nzLoading]="isLoading$ | async" (click)="onCreateRoute()" nzBlock nz-button nzType="primary">
          Create
        </button>
      </div>
    </div>
  </div>
</ng-template>