<form (ngSubmit)="onSubmit()" nzLayout="vertical" nz-form [formGroup]='form'>
  <app-lang-controller>
    <app-multi-lang-v2-input
      required label="Adjective"
      formControlName="adjectiveNationality_i18n"
    ></app-multi-lang-v2-input>
    <app-multi-lang-v2-input
      required label="Noun"
      formControlName="nounNationality_i18n"
    ></app-multi-lang-v2-input>
  </app-lang-controller>

  <app-filter-country-select
    formControlName="countryCode"
    label="Country"
  ></app-filter-country-select>

  <nz-form-item>
    <nz-form-label nzNoColon nzFor="code">Code</nz-form-label>
    <nz-form-control labelForErrorTip="Code">
      <input formControlName='code' appCodeInput nz-input name="code" placeholder="Code">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="mb-0">
    <nz-form-label nzFor="isActive">Status</nz-form-label>
    <nz-form-control labelForErrorTip="Status">
      <app-status-switch formControlName="isActive"></app-status-switch>
    </nz-form-control>
  </nz-form-item>
</form>
