<h1>Icons</h1><div class="d-flex f-10" style="flex-wrap: wrap"><div class="w-15 text-align-center p-6"><icon name="arrow-down"></icon><div class="f-3">arrow-down</div></div>
<div class="w-15 text-align-center p-6"><icon name="arrow-left"></icon><div class="f-3">arrow-left</div></div>
<div class="w-15 text-align-center p-6"><icon name="arrow-right"></icon><div class="f-3">arrow-right</div></div>
<div class="w-15 text-align-center p-6"><icon name="arrow-up"></icon><div class="f-3">arrow-up</div></div>
<div class="w-15 text-align-center p-6"><icon name="attachment"></icon><div class="f-3">attachment</div></div>
<div class="w-15 text-align-center p-6"><icon name="bar-chart"></icon><div class="f-3">bar-chart</div></div>
<div class="w-15 text-align-center p-6"><icon name="bell-dot"></icon><div class="f-3">bell-dot</div></div>
<div class="w-15 text-align-center p-6"><icon name="bell"></icon><div class="f-3">bell</div></div>
<div class="w-15 text-align-center p-6"><icon name="bike-logo"></icon><div class="f-3">bike-logo</div></div>
<div class="w-15 text-align-center p-6"><icon name="bookmark-checked"></icon><div class="f-3">bookmark-checked</div></div>
<div class="w-15 text-align-center p-6"><icon name="bookmark"></icon><div class="f-3">bookmark</div></div>
<div class="w-15 text-align-center p-6"><icon name="button-small-left"></icon><div class="f-3">button-small-left</div></div>
<div class="w-15 text-align-center p-6"><icon name="button-small-right"></icon><div class="f-3">button-small-right</div></div>
<div class="w-15 text-align-center p-6"><icon name="calendar"></icon><div class="f-3">calendar</div></div>
<div class="w-15 text-align-center p-6"><icon name="cart-dot"></icon><div class="f-3">cart-dot</div></div>
<div class="w-15 text-align-center p-6"><icon name="cart"></icon><div class="f-3">cart</div></div>
<div class="w-15 text-align-center p-6"><icon name="chat"></icon><div class="f-3">chat</div></div>
<div class="w-15 text-align-center p-6"><icon name="check"></icon><div class="f-3">check</div></div>
<div class="w-15 text-align-center p-6"><icon name="checkbox-selected"></icon><div class="f-3">checkbox-selected</div></div>
<div class="w-15 text-align-center p-6"><icon name="checkbox-unselected"></icon><div class="f-3">checkbox-unselected</div></div>
<div class="w-15 text-align-center p-6"><icon name="chevron-down"></icon><div class="f-3">chevron-down</div></div>
<div class="w-15 text-align-center p-6"><icon name="chevron-left"></icon><div class="f-3">chevron-left</div></div>
<div class="w-15 text-align-center p-6"><icon name="chevron-right"></icon><div class="f-3">chevron-right</div></div>
<div class="w-15 text-align-center p-6"><icon name="chevron-up"></icon><div class="f-3">chevron-up</div></div>
<div class="w-15 text-align-center p-6"><icon name="circle-check"></icon><div class="f-3">circle-check</div></div>
<div class="w-15 text-align-center p-6"><icon name="circle-empty"></icon><div class="f-3">circle-empty</div></div>
<div class="w-15 text-align-center p-6"><icon name="circle-pause"></icon><div class="f-3">circle-pause</div></div>
<div class="w-15 text-align-center p-6"><icon name="clock"></icon><div class="f-3">clock</div></div>
<div class="w-15 text-align-center p-6"><icon name="close-x"></icon><div class="f-3">close-x</div></div>
<div class="w-15 text-align-center p-6"><icon name="collapse-menu"></icon><div class="f-3">collapse-menu</div></div>
<div class="w-15 text-align-center p-6"><icon name="copy"></icon><div class="f-3">copy</div></div>
<div class="w-15 text-align-center p-6"><icon name="delete"></icon><div class="f-3">delete</div></div>
<div class="w-15 text-align-center p-6"><icon name="edit"></icon><div class="f-3">edit</div></div>
<div class="w-15 text-align-center p-6"><icon name="editor"></icon><div class="f-3">editor</div></div>
<div class="w-15 text-align-center p-6"><icon name="equal"></icon><div class="f-3">equal</div></div>
<div class="w-15 text-align-center p-6"><icon name="export"></icon><div class="f-3">export</div></div>
<div class="w-15 text-align-center p-6"><icon name="eye-off"></icon><div class="f-3">eye-off</div></div>
<div class="w-15 text-align-center p-6"><icon name="eye-on"></icon><div class="f-3">eye-on</div></div>
<div class="w-15 text-align-center p-6"><icon name="facebook"></icon><div class="f-3">facebook</div></div>
<div class="w-15 text-align-center p-6"><icon name="file-text"></icon><div class="f-3">file-text</div></div>
<div class="w-15 text-align-center p-6"><icon name="filter"></icon><div class="f-3">filter</div></div>
<div class="w-15 text-align-center p-6"><icon name="four-dot"></icon><div class="f-3">four-dot</div></div>
<div class="w-15 text-align-center p-6"><icon name="fullscreen"></icon><div class="f-3">fullscreen</div></div>
<div class="w-15 text-align-center p-6"><icon name="grid"></icon><div class="f-3">grid</div></div>
<div class="w-15 text-align-center p-6"><icon name="hash"></icon><div class="f-3">hash</div></div>
<div class="w-15 text-align-center p-6"><icon name="heart-one"></icon><div class="f-3">heart-one</div></div>
<div class="w-15 text-align-center p-6"><icon name="heart-two"></icon><div class="f-3">heart-two</div></div>
<div class="w-15 text-align-center p-6"><icon name="heart"></icon><div class="f-3">heart</div></div>
<div class="w-15 text-align-center p-6"><icon name="help"></icon><div class="f-3">help</div></div>
<div class="w-15 text-align-center p-6"><icon name="home"></icon><div class="f-3">home</div></div>
<div class="w-15 text-align-center p-6"><icon name="image"></icon><div class="f-3">image</div></div>
<div class="w-15 text-align-center p-6"><icon name="import"></icon><div class="f-3">import</div></div>
<div class="w-15 text-align-center p-6"><icon name="inbox"></icon><div class="f-3">inbox</div></div>
<div class="w-15 text-align-center p-6"><icon name="info"></icon><div class="f-3">info</div></div>
<div class="w-15 text-align-center p-6"><icon name="instagram"></icon><div class="f-3">instagram</div></div>
<div class="w-15 text-align-center p-6"><icon name="link"></icon><div class="f-3">link</div></div>
<div class="w-15 text-align-center p-6"><icon name="linkedin"></icon><div class="f-3">linkedin</div></div>
<div class="w-15 text-align-center p-6"><icon name="location-pin"></icon><div class="f-3">location-pin</div></div>
<div class="w-15 text-align-center p-6"><icon name="location"></icon><div class="f-3">location</div></div>
<div class="w-15 text-align-center p-6"><icon name="lock"></icon><div class="f-3">lock</div></div>
<div class="w-15 text-align-center p-6"><icon name="log-in"></icon><div class="f-3">log-in</div></div>
<div class="w-15 text-align-center p-6"><icon name="log-out"></icon><div class="f-3">log-out</div></div>
<div class="w-15 text-align-center p-6"><icon name="loudspeaker"></icon><div class="f-3">loudspeaker</div></div>
<div class="w-15 text-align-center p-6"><icon name="mail-at"></icon><div class="f-3">mail-at</div></div>
<div class="w-15 text-align-center p-6"><icon name="mail-at"></icon><div class="f-3">mail-at</div></div>
<div class="w-15 text-align-center p-6"><icon name="mail"></icon><div class="f-3">mail</div></div>
<div class="w-15 text-align-center p-6"><icon name="maps-route"></icon><div class="f-3">maps-route</div></div>
<div class="w-15 text-align-center p-6"><icon name="minus"></icon><div class="f-3">minus</div></div>
<div class="w-15 text-align-center p-6"><icon name="payment"></icon><div class="f-3">payment</div></div>
<div class="w-15 text-align-center p-6"><icon name="phone"></icon><div class="f-3">phone</div></div>
<div class="w-15 text-align-center p-6"><icon name="pie-chart"></icon><div class="f-3">pie-chart</div></div>
<div class="w-15 text-align-center p-6"><icon name="pin"></icon><div class="f-3">pin</div></div>
<div class="w-15 text-align-center p-6"><icon name="plus"></icon><div class="f-3">plus</div></div>
<div class="w-15 text-align-center p-6"><icon name="repeat"></icon><div class="f-3">repeat</div></div>
<div class="w-15 text-align-center p-6"><icon name="scan"></icon><div class="f-3">scan</div></div>
<div class="w-15 text-align-center p-6"><icon name="search"></icon><div class="f-3">search</div></div>
<div class="w-15 text-align-center p-6"><icon name="send-message"></icon><div class="f-3">send-message</div></div>
<div class="w-15 text-align-center p-6"><icon name="settings"></icon><div class="f-3">settings</div></div>
<div class="w-15 text-align-center p-6"><icon name="share"></icon><div class="f-3">share</div></div>
<div class="w-15 text-align-center p-6"><icon name="shop"></icon><div class="f-3">shop</div></div>
<div class="w-15 text-align-center p-6"><icon name="shopping-bag-dot"></icon><div class="f-3">shopping-bag-dot</div></div>
<div class="w-15 text-align-center p-6"><icon name="shopping-bag"></icon><div class="f-3">shopping-bag</div></div>
<div class="w-15 text-align-center p-6"><icon name="star"></icon><div class="f-3">star</div></div>
<div class="w-15 text-align-center p-6"><icon name="tag"></icon><div class="f-3">tag</div></div>
<div class="w-15 text-align-center p-6"><icon name="thumb-down"></icon><div class="f-3">thumb-down</div></div>
<div class="w-15 text-align-center p-6"><icon name="thumb-up"></icon><div class="f-3">thumb-up</div></div>
<div class="w-15 text-align-center p-6"><icon name="triangle-attention"></icon><div class="f-3">triangle-attention</div></div>
<div class="w-15 text-align-center p-6"><icon name="user"></icon><div class="f-3">user</div></div>
<div class="w-15 text-align-center p-6"><icon name="users"></icon><div class="f-3">users</div></div>
<div class="w-15 text-align-center p-6"><icon name="warn"></icon><div class="f-3">warn</div></div>
<div class="w-15 text-align-center p-6"><icon name="xing"></icon><div class="f-3">xing</div></div></div><h2>Color</h2><div class="d-flex f-10" style="flex-wrap: wrap"><div class="w-10 text-green text-align-center p-6"><icon name="arrow-down"></icon><div class="f-3">arrow-down</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="arrow-left"></icon><div class="f-3">arrow-left</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="arrow-right"></icon><div class="f-3">arrow-right</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="arrow-up"></icon><div class="f-3">arrow-up</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="attachment"></icon><div class="f-3">attachment</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="bar-chart"></icon><div class="f-3">bar-chart</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="bell-dot"></icon><div class="f-3">bell-dot</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="bell"></icon><div class="f-3">bell</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="bike-logo"></icon><div class="f-3">bike-logo</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="bookmark-checked"></icon><div class="f-3">bookmark-checked</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="bookmark"></icon><div class="f-3">bookmark</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="button-small-left"></icon><div class="f-3">button-small-left</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="button-small-right"></icon><div class="f-3">button-small-right</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="calendar"></icon><div class="f-3">calendar</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="cart-dot"></icon><div class="f-3">cart-dot</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="cart"></icon><div class="f-3">cart</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="chat"></icon><div class="f-3">chat</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="check"></icon><div class="f-3">check</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="checkbox-selected"></icon><div class="f-3">checkbox-selected</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="checkbox-unselected"></icon><div class="f-3">checkbox-unselected</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="chevron-down"></icon><div class="f-3">chevron-down</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="chevron-left"></icon><div class="f-3">chevron-left</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="chevron-right"></icon><div class="f-3">chevron-right</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="chevron-up"></icon><div class="f-3">chevron-up</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="circle-check"></icon><div class="f-3">circle-check</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="circle-empty"></icon><div class="f-3">circle-empty</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="circle-pause"></icon><div class="f-3">circle-pause</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="clock"></icon><div class="f-3">clock</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="close-x"></icon><div class="f-3">close-x</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="collapse-menu"></icon><div class="f-3">collapse-menu</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="copy"></icon><div class="f-3">copy</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="delete"></icon><div class="f-3">delete</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="edit"></icon><div class="f-3">edit</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="editor"></icon><div class="f-3">editor</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="equal"></icon><div class="f-3">equal</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="export"></icon><div class="f-3">export</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="eye-off"></icon><div class="f-3">eye-off</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="eye-on"></icon><div class="f-3">eye-on</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="facebook"></icon><div class="f-3">facebook</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="file-text"></icon><div class="f-3">file-text</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="filter"></icon><div class="f-3">filter</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="four-dot"></icon><div class="f-3">four-dot</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="fullscreen"></icon><div class="f-3">fullscreen</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="grid"></icon><div class="f-3">grid</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="hash"></icon><div class="f-3">hash</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="heart-one"></icon><div class="f-3">heart-one</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="heart-two"></icon><div class="f-3">heart-two</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="heart"></icon><div class="f-3">heart</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="help"></icon><div class="f-3">help</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="home"></icon><div class="f-3">home</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="image"></icon><div class="f-3">image</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="import"></icon><div class="f-3">import</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="inbox"></icon><div class="f-3">inbox</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="info"></icon><div class="f-3">info</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="instagram"></icon><div class="f-3">instagram</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="link"></icon><div class="f-3">link</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="linkedin"></icon><div class="f-3">linkedin</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="location-pin"></icon><div class="f-3">location-pin</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="location"></icon><div class="f-3">location</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="lock"></icon><div class="f-3">lock</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="log-in"></icon><div class="f-3">log-in</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="log-out"></icon><div class="f-3">log-out</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="loudspeaker"></icon><div class="f-3">loudspeaker</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="mail-at"></icon><div class="f-3">mail-at</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="mail-at"></icon><div class="f-3">mail-at</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="mail"></icon><div class="f-3">mail</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="maps-route"></icon><div class="f-3">maps-route</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="minus"></icon><div class="f-3">minus</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="payment"></icon><div class="f-3">payment</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="phone"></icon><div class="f-3">phone</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="pie-chart"></icon><div class="f-3">pie-chart</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="pin"></icon><div class="f-3">pin</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="plus"></icon><div class="f-3">plus</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="repeat"></icon><div class="f-3">repeat</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="scan"></icon><div class="f-3">scan</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="search"></icon><div class="f-3">search</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="send-message"></icon><div class="f-3">send-message</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="settings"></icon><div class="f-3">settings</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="share"></icon><div class="f-3">share</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="shop"></icon><div class="f-3">shop</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="shopping-bag-dot"></icon><div class="f-3">shopping-bag-dot</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="shopping-bag"></icon><div class="f-3">shopping-bag</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="star"></icon><div class="f-3">star</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="tag"></icon><div class="f-3">tag</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="thumb-down"></icon><div class="f-3">thumb-down</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="thumb-up"></icon><div class="f-3">thumb-up</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="triangle-attention"></icon><div class="f-3">triangle-attention</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="user"></icon><div class="f-3">user</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="users"></icon><div class="f-3">users</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="warn"></icon><div class="f-3">warn</div></div>
<div class="w-10 text-green text-align-center p-6"><icon name="xing"></icon><div class="f-3">xing</div></div></div>