<div class="container-fluid">
  <h4 class="mt-4 mb-2">Store Services</h4>
  <div class="row mt-4">
    <div class="col">
      <ng-container *ngIf="subsRequest$ | async as subsRequest" >
        <nz-table 
          [nzData]="storeServiceSubCodes"
          [nzShowPagination]="false"
          [nzScroll]="{ y: '800px' }">
          <thead>
            <tr>
              <th nzWidth="60%">Code</th>
              <th nzWidth="40%">Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let code of storeServiceSubCodes">
              <td nzWidth="60%">
                {{ code }}
              </td>
              <td nzWidth="40%">
                <nz-switch
                  [(ngModel)]="storeServiceSubCodeStates[code]"
                  (ngModelChange)="toggleSub($event, code)"
                ></nz-switch>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </ng-container>
    </div>
  </div>
</div>

