<div class="ui-card-step">
    <span class="text-medium text-bold" style="margin: 30px auto 2px auto;">{{title1}}</span>
    <span class="text-medium text-bold" style="margin: 0px auto 5px auto;">{{title2}}</span>
    <span class="text-small text-medium-bold" style="margin: 18px auto 2px auto;">{{content1}}</span>
    <span class="text-small text-medium-bold" style="margin: 0px auto 5px auto;">{{content2}}</span>
    <span class="position-absolute text-green text-large text-bold" style="bottom: -15px; right: -12px;">{{no}}</span>
</div>