<p class="text-align-center text-bold">
  Order Details
</p>
<div class="d-flex align-items-center border-radius-lg bg-green px-4 py-2 text-white">
  <icon name="clock" class="f-9"></icon>
  <div class="ml-3">
    <div class="text-small">Estimate arrival</div>
    <div class="text-medium ">15:02</div>
  </div>
</div>
<div class="d-flex">
  <div class="order-status">
    <div class="order-status__item completed dot cursor-pointer"></div>
    <div class="order-status__item completed dot cursor-pointer"></div>
    <div class="order-status__item completed dot cursor-pointer"></div>
    <div class="order-status__item completed current-status cursor-pointer">
      <icon name="maps-route"></icon>
    </div>
    <div class="order-status__item incompleted dot cursor-pointer"></div>
  </div>
  <div class="text-medium">
    <div class="status-item">
      <div class="text-bold">Pending</div>
      <div class="text-lightblue">09 November 2020 ∙ 14:09</div>
    </div>
    <div class="status-item">
      <div class="text-bold">Open</div>
      <div class="text-lightblue">Your order has been confirmed at 14:13</div>
    </div>
    <div class="status-item">
      <div class="text-bold">Current picking</div>
      <div class="text-lightblue">Jenfelder Str. 2</div>
    </div>
    <div class="status-item">
      <div class="text-bold">Current delivery</div>
      <div class="text-lightblue">Our man Paul on the way</div>
    </div>
    <div class="status-item">
      <div class="text-bold">Order complete</div>
      <div class="text-lightblue">Description</div>
    </div>
  </div>
</div>
<div class="text-align-center mt-15">
  <img src="{{'assets/img/logo-grey.svg'}}">
</div>
